<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/general_witcher.css">
<h1 align="center" class="mt-4">Изменение информации о сеансе</h1>
<div class="d-flex justify-content-center mt-4">
<form class="w-25 brd"  action="{{ url_for('editScreening',screening_id = screening.id)}}" method="post">
  <div class="form-group">
    <label for="movie_id">Номер фильма:</label>
    <input type="text" class="form-control" name="movie_id" value="{{screening.movie_id}}">
    <label for="branch_id">Номер Зала:</label>
    <input type="text" class="form-control" name="branch_id" value="{{screening.branch_id}}">
    <label for="screening_time">Время сеанса:</label>
    <input type="time" class="form-control" name="screening_time" value="{{screening.screening_time}}">
    <label for="date_film">Дата проката:</label>
    <input type="date" class="form-control" name="date_film" value="{{screening.date_film}}">
    <label for="price">Стоимость:</label>
    <input type="price" class="form-control" name="price" value="{{screening.price}}">
    <button  class="btn btn-primary mt-2 w-100" type="submit"> Обновить</button>
    <br>
    <a class="btn btn-primary mt-2 w-100" href='{{ url_for('showScreenings') }}'>Отменить</a>
  </div>
</form>
</div>