<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/general_witcher.css">
<div class="size_witcher">
<h1 class="new_users_witcher_yen">Изменение информации о пользователе</h1>
<form action="{{ url_for('editUser',user_id = user.id)}}" method="post">
  <div class="form-group">
    <label for="username">Имя:</label>
    <input class="form-control w-25" type="text" class="form-control" name="username" value="{{user.username}}">
    <label for="password">Пароль:</label>
    <input class="form-control w-25" type="text" class="form-control" name="password" value="{{user.password}}">
    <button  class="btn btn-primary mt-2 w-25" type="submit"> Обновить</button>
    <br>
    <a class="btn btn-primary mt-2 w-25" href='{{ url_for('showUsers') }}'>Отменить</a>
  </div>
</form>
</div>>