<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/general_witcher.css">
</head>
<body>
<header>
    <nav class="default-nav">
      <ul>
          <li><a href="/movies">Фильмы</a></li>
        <li><a href="/branchs">Кинозал</a></li>
        <li><a href="/screenings">Сеанс</a></li>
        <li><a href="/seats">Места</a></li>
        <li><a href="/users">Пользователь</a></li>
        <li><a href="/reservations">Резервирование</a></li>
        <li> <a href="seat_reserveds">Закрепление места</a></li>
      </ul>
    </nav>
  </header>
 <h1 align="center">"Резервирование"</h1>
 <div class="d-flex justify-content-center">
 <a href="{{url_for('newReservation')}}">
   <button class="btn btn-primary">Зарезервировать новый билет</button>
 </a>
 </div>
 <table class="table table-bordered mt-4">
   <tr>
       <th scope="col">Номер</th>
       <th scope="col">Имя пользователя</th>
       <th scope="col">Резервирование</th>
       <th scope="col">Оплата</th>
       <th scope="col">Управление</th>
    </tr>
   {% for reservation in reservations %}
     <tr>
      <td>{{reservation.id}}</td>
      <td>{{reservation.user_id}}</td>
      <td>{{reservation.reserved}}</td>
      <td>{{reservation.paid}}</td>
      <td> <a class="btn btn-info" href="{{url_for('editReservation', reservation_id = reservation.id )}}">Изменение</a>
      <a class="btn btn-info" href="{{url_for('deleteReservation', reservation_id = reservation.id )}}" style="margin-left: 10px;">Удаление</a>
      </td>
     </tr>
  {% endfor %}
 </table>
</body>
</html>