<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/general_witcher.css">
<title>Курсовой проект: Закрепление места</title>
</head>
<body>
<header>
    <nav class="default-nav">
      <ul>
          <li> <a href="/witcher" style="color:yellow">Ведьмак</a> </li>
          <li><a href="/movies">Фильмы</a></li>
        <li><a href="/branchs">Кинозал</a></li>
        <li><a href="/screenings">Сеанс</a></li>
        <li><a href="/seats">Места</a></li>
        <li><a href="/users">Пользователь</a></li>
        <li><a href="reservations">Резервирование</a></li>
        <li> <a href="seat_reserveds">Закрепление места</a></li>
      </ul>
    </nav>
  </header>
 <h1 align="center">"Закрепление места"</h1>
 <div class="d-flex justify-content-center">
 <a href="{{url_for('newSeat_Reserved')}}">
   <button class="btn btn-primary">Закрепить место в кинозале</button>
 </a>
 </div>
 <table class="table table-bordered mt-4">
   <tr>
       <th scope="col">Номер</th>
       <th scope="col">Номер места в кинозале </th>
       <th scope="col">Номер резервирования пользователя</th>
       <th scope="col">Номер сеанса</th>
       <th scope="col">Модифицирование таблицы</th>
    </tr>
   {% for seat_reserved in seat_reserveds %}
     <tr>
      <td>{{seat_reserved.id}}</td>
      <td>{{seat_reserved.seat_id}}</td>
      <td>{{seat_reserved.reservation_id}}</td>
      <td>{{seat_reserved.screening_id}}</td>
      <td> <a class="btn btn-primary" href="{{url_for('editSeat_Reserved', seat_reserveds_id = seat_reserved.id )}}">Изменение</a>
      <a class="btn btn-primary" href="{{url_for('deleteSeat_Reserved', seat_reserveds_id = seat_reserved.id )}}" style="margin-left: 10px;">Удаление</a>
      </td>
     </tr>
  {% endfor %}
 </table>
</body>
</html>